extends ../templates/default.jade

block title
    title='For the Glory! - Ludum Dare 35 "Shapeshift"'

block content
    div.jumbotron
        h1 For the Glory!

        p A Ludum Dare 35 game for "Shapeshift".
